<%- include('header') -%>

<h1>Notendur</h1>

<% if (locals.user.admin) { %>
  <form method="post" action="/admin">
    <div class="users">
      <table>
        <tr>
          <th>Stjórnandi?</th>
          <th>Notendanafn</th>
          <th>Nafn</th>
          <th>Netfang</th>
        </tr>
        <% users.forEach((user) => { %>
          <tr>
          <input type="hidden" name="admin[]" value="<%= user.id %>" />
            <td><input type="checkbox" name="admin[]" value="<%= user.id %>" <%= user.admin ? 'checked' : '' %>></td>
            <td><%= user.username %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
          </tr>
        <% }) %>
      </table>
    </div>
    <button class="submit">Uppfæra stjórnendur</button>
  </form>
<% } else { %>
  <div class="users">
    <table>
      <tr>
        <th>Notendanafn</th>
        <th>Nafn</th>
        <th>Netfang</th>
      </tr>
      <% users.forEach((user) => { %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% }) %>
      </table>
    </div>
<% } %>


<%- include('footer') -%>