<%- include('header') -%>

<h1>Atvinnuumsóknir</h1>
<div class="applications">
    <% applications.forEach((application) => { %>
        <div class="appinfo">
            <h2><%= application.name%></h2>
            <a href="mailto:<%= application.email %>"><%= application.email %></a>
            <p>Sími: <%= application.phone %></p>
            <p>Umsókn send: <%= application.created.toISOString() %></p>
        </div>
        <div class="apptext">
            <p><%= application.text %></p>
        </div>
        <div class="butts">
            <% if(application.processed){ %>
                <p>&#10004; Umsókn unnin: <%= application.updated.toISOString() %></p>
            <% } else{ %> 
                <form method="post" action="applications/process/<%= application.id %>">
                    <button class="submit">Vinna umsókn</button>
                </form>
            <% } %>
            <form method="post" action="applications/delete/<%= application.id %>">
                <button class="submit">Eyða umsókn</button>
            </form>
        </div>
    <% }) %>
</div>

<%- include('footer') -%>
