<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:700" rel="stylesheet">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
          <li><a class="navref<%= (title === 'Atvinnuumsókn') ? ' selected' : '' %>" href="/">Atvinnuumsókn</a></li>
            <% if(locals.user){ %>
              <li><a class="navref<%= (title === 'Umsóknir') ? ' selected' : '' %>" href="/applications">Umsóknir</a></li>
              <% if(locals.user.admin){ %>
                <li><a class="navref<%= (title === 'Notendur') ? ' selected' : '' %>" href="/admin">Notendur</a></li>
              <% } %>
            <% } else{ %>
              <li><a class="navref<%= (title === 'Innskráning') ? ' selected' : '' %>" href="/login">Innskráning</a></li>
              <li><a class="navref<%= (title === 'Nýskráning') ? ' selected' : '' %>" href="/register">Nýskráning</a></li>
            <% } %>
        </ul>
      </nav>
      <% if(locals.user){ %>
        <div>
          <p><%= user.name %></p>
          <a href="/logout">Útskrá</a>
        </div>
      <% } %>
    </header>
    <main>
